@charset "utf-8";

body {
	background-color: #333366;
	background-size: 100%;
	margin: 0;
	font-family: 'Comfortaa', cursive;
	padding-bottom: 6%;
	padding-top:6.2%;
}

#container{
	position: relative;
	min-height: 100px;
	color: rgb(192, 192, 192);
}

#header {
	top:0px;
	width: 100%;
	position: fixed;
	background-color: black;
	text-align: center;
}

#topnav {
	border: 4px ridge #339999;
	font-size: 15px;
	overflow: hidden;
	text-align: center;
}

#topnav a {
	display: inline;
	color: #f2f2f2;
	text-align: center;
	padding: 10px 16px;
	text-decoration: none;
}

#topnav a:hover {
	background-color: #ddd;
	color: #333399;
}

.row {
	height: 100%;
	padding-top: 40px;
	text-shadow: -0.7px 0 #339999, 0 0.7px #339999, 0.7px 0 #339999, 0 -0.7px #339999;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	float: left;
	width: 48%;
	padding: 15px;
}

.column img {
	max-width: 500px;
	max-height: 500px;
}

.GalleryRow {
	padding: 15px;
	text-decoration: none;
}
.GalleryRow > .GalleryColumn {
	padding:0px 10px;
}

.GalleryRow:after {
	content: "";
	display: table;
	clear: both;
}

.GalleryRow img {
	cursor: pointer;
}

.GalleryColumn {
	float: left;
	width: auto;
	margin-top:10px;
	border: 1px solid white;
	text-align: center;
	font-size: 10px;
}


.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 88%;
	overflow: auto;
	background-color: black;
}


.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;
	max-width: 1000px;
	max-height: 784px;
}


.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 25px;
	font-size: 35px;
	font-weight: bold;
}

.close:hover, .close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}


.mySlides {
	display: none;
	background-color: antiquewhite;
	height: 784px;
}

.mySlides img {
	width: 1000px;
	height: 784px;
	object-fit: scale-down;
}

.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	transition: 0.6s ease;
	border-radius: 0 3px 3px 0;
	user-select: none;
	-webkit-user-select: none;
}

.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}

.caption-container {
	text-align: center;
	background-color: black;
	padding: 2px 16px;
	color: white;
}

img.demo {
	opacity: 0.6;
	padding: 0px 3px;
}

.active, .demo:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#footer {
	border-top: 4px ridge #339999;
	bottom: 0;
	width: 100%;
	height: 5%;
	position: fixed;
	background-color: black;
	overflow: hidden;
	text-align: center;
	display: inline;
	padding:30px;
}

#footer a {
	padding:20px;
}

#kontakt a {
	text-decoration: inherit;
	color: inherit;
}

#kontakt i{
	margin-right: 5px;
}

#kontakt ul li {
	padding: 3px 0px;
}

input[type=text],[type=email],[type=tel], select, textarea {
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: horizontal;
}

input[type=submit] {
	background-color: #04AA6D;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#subject {
	resize: none;
	width: 25%;
	height: 30%;
}

input[type=submit]:hover {
	background-color: #45a049;
}
